[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Custom Separator
Comment=A configurable separator for the panel
Icon=gtk-fullscreen
X-XFCE-Module=custom-separator
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
